# KWin Script Always Show Notifications on Focused Screen
# (C) 2022 PgBiel
# Based on the works of Natalie Clarius <natalie_clarius@yahoo.de>
# GNU General Public License v3.0

[Desktop Entry]
Name=Always Show Notifications on Focused Screen
Name[de]=Immer auf fokussiertem Bildschirm öffnen
Name[nl]=Altijd openen op gefocust scherm
Comment=Always shows new notifications on the monitor that has the focused window
Comment[de]=Öffnet neue Fenster immer auf dem Bildschirm mit dem fokussierten Fenster
Comment[nl]=Open nieuwe vensters altijd op het scherm met een gefocust venster
Icon=preferences-system-windows

X-KDE-PluginInfo-Name=alwaysshownotifonfocusedscreen
X-KDE-PluginInfo-Version=4.1
X-KDE-PluginInfo-Author=PgBiel
X-KDE-PluginInfo-Email=9021226+PgBiel@users.noreply.github.com
X-KDE-PluginInfo-License=GPLv3.0
X-KDE-PluginInfo-Website=https://github.com/PgBiel/KWin-notification-positioning-scripts

Type=Service
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-ServiceTypes=KWin/Script,KCModule
X-KDE-ConfigModule=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=alwaysshownotifonfocusedscreen
X-KDE-ParentComponents=alwaysshownotifonfocusedscreen
